<header class="row mb-5 custom-nav">
  <nav class="col-md-8 col-offset-2 custom-nav">
      <ul class="nav nav-pills">
            <li class="nav-item custom-pill">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['home']">Home</a>
            </li>
          <li class="nav-item custom-pill">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['color-sort']">Colors</a>
          </li>
          <li class="nav-item custom-pill">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['brush-sort']">Brushes</a>
          </li>
      </ul>
  </nav>
</header>
