.container {
  /* text-align: center; */
  display: flex;
}

.section {
  margin-top: 50px;
}

.palette-container {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 10px 0 30px 0;
}

.column {
  display: flex;
  flex-direction: column;
}
.box {
  height: 50px;
  width: 50px;
}

.main {
  height: 100px;
  width: 50px;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.stack {
  height: 50px;
  width: 80%;
}
